<!-- <%= render 'pages/home' unless user_signed_in?%> -->

<% if (current_user.try(:email) == "gabepecache@gmail.com") %>
<% current_user.update_attribute :king, true %>
<% end %>
<!-- pins -->
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <!-- want to open pin image onclick in a modal -->
        <%= link_to image_tag(pin.image.url(:medium)), "#showModal", "data-toggle" => "modal", "data-remote" => pin_path(pin)  %>


      <div class="panel-body">
        <%= pin.description %><br />
        <%= pin.user.name if pin.user %><br />
        <% if (pin.user == current_user) or current_user.try(:admin?) or current_user.try(:king?) %>
          <%= link_to edit_pin_path(pin), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to pin, method: :delete, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-trash"></span>
            Remove
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- pages -->
<div class="center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

        <!-- modal -->
        <div class="showbox">
        <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">    
              <div class="modal-body">
              </div>
              <div class="modal-footer" style="text-align: center;">
              </div>
            </div>
          </div>
        </div>
        </div>
























